@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Gentium Plus', serif;
}
body{
  background-color: #000;
}
.container-main{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: right;
  background-image: url(../Images/p5.jpg);
}
.form-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  margin: 20px 40px;
  width: 100%;
  min-width: 100px;
  max-width: 500px;
  backdrop-filter: blur(4px);
  background-color: rgba(12, 12, 12, 0.769);
  border-radius: 12px;
  box-shadow: -5px -5px 15px 5px rgb(94, 0, 113),5px 5px 15px 5px rgb(8, 0, 113);
  /* box-shadow: rgb(19, 19, 19) 0px 20px 30px -10px; */
  
}

.logo img{
  height: 40px;
}
.comp{
  width: 100%;
}
.l-login{
  color: rgb(232, 236, 239);
  text-align: center;
  font-size: 20px;
}
.input-box{
  width: 100%;
}
.inputs{
  outline: none;
  margin: 10px 0px;
  background: transparent;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 4px;
  color: #fff;
  padding: 5px;
  width: 100%;
  height: 48px;
}

:-webkit-autofill, :-webkit-autofill:hover, :-webkit-autofill:focus, :-webkit-autofill:active {
    /* background: transparent; */
    box-shadow: none;
    text-shadow: none;
    transition-delay:   99999s;
    animation-fill-mode: both;
    animation-name: onAutoFillStart !important;
}
.show {
  color: #fff;
  margin: 0px 5px;
}
.show input[type="checkbox"] {
  height: 15px;
  width: 15px;
}
.pwd{
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
}

.pwd a{
  color: #fff;
  font-size: 15px;
}
.submint-btn{
  width: 100%;
  height: 48px;
  margin: 15px 0px;
  background: rgb(20, 20, 209);
  border-radius: 4px;
  outline: none;
  border: none;
  color: #fff;
}
@media (max-width:485px) {
  .container{
    width: 50vh;
  }
  .form-box{
    margin: 0px;
  }
  .l-login{
    font-size: 15px;
  }
}