*{
      padding: 0px;
      margin: 0px;
}
.images{
      background-image:url(../images/p2.jpg);
      background-size: 100% 100%;
      height: 100vh;
}


.p1{
      background-size: 100% 100%;
      height: 100%;
      display: block;
}
.text-large{
      display: flex;
      align-items: center;
      justify-content: left;
      height: 50%;
      margin-left: 100px;
      font-size: 100px;
      animation: p1 1s ease-in;
}
.text-small{
      display: flex;
      align-items: center;
      justify-content: left;
      height: 30%;
      width: 50%;
      margin-left: 100px;
      font-size: 30px;
      animation: t2 1s ease-in;
}
@keyframes p1{
      from{
            transform: translateX(-300px);
      }
      to{
            transform: translateX(0);
      }
}
@keyframes t2{
      from{
            transform: translateX(-300px);
      }
      to{
            transform: translateX(0);
      }
}

.big{
      font-size: 25px;
}
.small{
      font-size: 16px;
}

.first-part{
      display: flex;
      flex-wrap: wrap;
      padding: 50px;
      width: 100%;
      background-color: rgb(18, 18, 18);
      align-content: center;
      justify-content: space-around;
}
.title{
      color: rgb(255, 255, 255);
      padding: 10px 0px;
      background-color: rgb(18, 18, 18);
      font-size: xx-large;
}
.main-title{
      background-color: rgb(18, 18, 18);
      padding: 0px 50px;
}
.zombie{
      animation: z1 4s ease-in;
}
.spider{
      margin-left: 1000px;
      animation: s1 4s ease-in;
}
@keyframes s1{
      from{
            transform:translateX(-1000px);
            
      }
      to{
            transform: translateX(0);
      }
}

@keyframes z1{
      from{
            transform: translateY(-400px) translateX(1000px) rotate(720deg);
            
      }
      to{
            transform: translateX(0);
      }
}

.line{
      background-color: white;
      margin: 0px 0px;
      height: 1px;
}
.first-part .games{
      overflow: hidden;
      display: block;
      padding: 10px;
      background-color: rgb(30, 30, 30);
      width: 300px;
      margin:  20px 20px;
      cursor: pointer;
      color: white;
      position: relative;
      transition: .4s ease-in;
      z-index: 1;
}
.first-part .games::before,.first-part .games::after{
      position: absolute;
      content: "";
      z-index: -1;
}
.first-part .games::after{
      width: 150px;
      left: 0px;
      top: 0;
      transform: skew(30deg);
      transition-duration: 1.5s;
      transform-origin: bottom left;
}
.first-part .games:hover::after{
      height: 100%;
      width: 260%;
      background-color: rgb(92, 92, 92);
}
.games-img img{
      height: 350px;
      width: 280px;
      transition: all .5s;
}
.games-img{
      overflow: hidden;
}
.games-img img:hover{
      transform: scale(1.2);
     
}
.first-part .games .games-name{
      padding: 10px 0px;
}

@media (max-width:1000px) {
      .images{
            height: 80vh;
            width: 100%;
      }
      .text-large{
            height: 40vh;
            width: 40%;
            font-size: 50px;
            margin-left: 50px;
      }
      .text-small{
            height: 20vh;
            width: 40%;
            font-size: 20px;
            margin-left: 50px;
      }
}
@media (max-width:600px){
      .images{
            height: 35vh;
            width: 100%;
      }
      .text-large{
            height: 20vh;
            /* width: 50vh; */
            font-size: 25px;
            margin-left: 25px;
      }
      .text-small{
            height: 10vh;
            font-size: 10px;
            width: 20vh;
            margin-left: 25px;
      }
}
@media (max-width:300px){
      .images{
            height: 25vh;
            width: 100%;
      }
      .text-large{
            height: 10vh;
            font-size: 12.5px;
            width: 10vh;
            margin-left: 10px;
      }
      .text-small{
            height: 5vh;
            font-size: 5px;
            width: 10vh;
            margin-left: 10px;
      }
}
.wishlist{
      /* height: 70vh; */
}
::-webkit-scrollbar{
      width: 10px;
      background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(27, 8, 153, 0.854);
}
::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.47);
}